{
  "extends": ["stylelint-config-standard-scss"],
  "syntax": "css",
  "plugins": ["stylelint-order"],
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "mixin",
          "include",
          "each",
          "if",
          "else",
          "for",
          "use",
          "extend",
          "function",
          "return",
          "forward"
        ]
      }
    ],
    "declaration-empty-line-before": [
      "always",
      {
        "ignore": ["after-declaration"],
        "except": ["first-nested"]
      }
    ],
    "no-descending-specificity": null,
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": [
      {
        "emptyLineBefore": "always",
        "properties": ["content"]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "position",
          "z-index",
          "top",
          "right",
          "bottom",
          "left",
          "transform"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "display",
          "float",
          "align-content",
          "align-items",
          "align-self",
          "flex",
          "flex-direction",
          "flex-grow",
          "flex-wrap",
          "justify-content",
          "order",
          "vertical-align",
          "overflow",
          "overflow-x",
          "overflow-y"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "box-sizing",
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "border",
          "border-width",
          "border-style",
          "border-color",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-radius",
          "outline",
          "box-shadow",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "color",
          "background",
          "background-attachment",
          "background-clip",
          "background-color",
          "background-image",
          "background-position",
          "background-repeat",
          "background-size",
          "fill",
          "mask",
          "mask-size",
          "opacity"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "font",
          "font-family",
          "font-size",
          "font-smoothing",
          "font-style",
          "font-variant",
          "font-weight",
          "line-height",
          "text-align",
          "text-decoration",
          "text-indent",
          "text-overflow",
          "text-rendering",
          "text-shadow",
          "text-transform",
          "text-wrap",
          "white-space",
          "direction"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": ["transition", "animation"]
      }
    ],
    "scss/at-extend-no-missing-placeholder": null,
    "selector-class-pattern": null
  }
}
