:root {
  --black: #000;
  --dark-gray: #d5d0c7;
  --dark-green: #00453b;
  --light-gray: #f5efe9;
  --light-pink: #ffcbf0;
  --gray: #a5a39a;
  --green: #00f086;
  --lime: #42ffc6;
  --pink: #ffb3ee;
  --white: #fff;
  --light-yellow: #ffe966;
  --yellow: #ffc800;
}
